*
{
    background-color: royalblue;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
}

#particles-js{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-size: cover;
    left:-10px;
    background-position: center;
}

.banner{
  background-color: transparent;
  z-index: 2;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 8;
    top: 20px;
    right: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: tomato;
    margin-top: 25px;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: tomato;
  }

  h1 {
    font-size: 38px;
    color: tomato;
    margin-top: 40px;
    margin-bottom: 40px;
}

  h4 {
    top: 120px;
    font-size: 24px;
    color: white;
}

p {
    color: gainsboro;
    line-height: 32px;
    margin-bottom: 60px;
    font-size: 20px;
    }

.link-color {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.footer{
  z-index: 9;
  position: relative;
  text-align: center;
}

.footer img{
  height: 65px;
  width: 65px;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  